.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 15px 100px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 60px;
    border-radius: 5px;
  }
  
  .card:first-child {
    background-color: #e94444;
  }
  
  .card:nth-child(2) {
    background-color: #fc7e2b;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  
  .card-inner {
    display: grid;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .card-inner > .card_icon {
    font-size: 40px;
  }